body{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-icon{
    width: 40px;
    height: 40px;
    align-self:flex-end;
    justify-self: center;    
}




.profile-icon:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
    
}


#dropDown{
    width: 100px;
    height: 30px;
    background-color: gray;
    position: absolute;
    right: 25px;
    Top: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}
.profile-icon:hover + #dropDown{
        opacity: 1;
}
#logout_button{
    width: 100%;
    height: 100%;
    cursor: pointer;   
}
#dropDown:hover {
    
    opacity: 1;
}

/* Home page body */

nav{
    width: 90%;
    height: 85px;
    position:fixed;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.493);
}
.innerNav{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-bottom: 1px solid black;
}
.logo{
    width: 60px;
    height: 60px;
    margin: 0;
}
.logo:hover{
    transition: 0.3s ease;
    transform: scale(1.1,1.1);
}
.logo-nav-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin: 0px;
    }
    img{
        width:40px;
        height: 40px;
        margin-left: 5px;
    }
}
.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    

}
ul{
    
    padding: 10PX 25px 10px 25px;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.103);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(232, 252, 255, 0.178);
    width:60%;
    
    button{
        border: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        font-weight: bold;
        color: gray;
        background-color:rgba(232, 252, 255, 0.178);
        
    }
    
}
button:hover{
        color: black;
        cursor: pointer;
        background-color: rgba(230, 230, 230, 0.589);
        
}
/*End of navbar*/

/*Main section*/
main{
    
    width: 100%;
    background-color: rgb(246, 252, 252);
    height: 100%;
    margin-top: 85px;
}
.overView{
 padding: 20px;
 p{
    margin: 0px;
    font-weight: bold;
    color: gray
 }
 h1{
    margin: 0px;
}
}

.main-bord{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
    gap: 20px;   
    padding: 10px;
}
.section-grid{
    color: white;
    display: flex;
    background:linear-gradient(45deg , rgb(1, 9, 54) 10%, rgba(0, 27, 145, 0.774));
    ;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
}
.Overview-panal{
    display:flex;
    flex-direction: row;
    
    height: 100px;
    width: 500px;
    align-items: center;
    padding: 20px 40px 20px 40px;
    
    p{
        margin: 0px;
    }
    
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 45, 82);
    border-radius: 20px;
    img{
        height: 60px;
        width: 60px;
        padding: 10px;
    }
    margin-right: 10px;
}
.div2{
    p, h5{
      margin: 0px;
    }
    h5{
        color: gray;
    }
    p{
      font-weight: bold;
      font-size: 30px;  
    }
}
.Overview-panal2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    gap: 20px;
    padding: 20px 40px 20px 40px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 200px;
        height: 50px;
        background-color: rgba(155, 155, 156, 0.274);
        border-radius: 20px;
        
        padding: 10px;
        padding-left: 20px;
        border: 1px solid rgb(177, 176, 176);
    }
    h3,p{
        margin: 0px;
        font-size: 13px;
    }
    h3{
        font-weight: bold;
        font-size: 20px;
    }
}
.buttons-in-grid{
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    gap: 20px;
    button{
        padding: 10px;
        font-weight: bold;
        background-color: rgba(2, 2, 97, 0.089);
        color: white;
        border:  1px solid gray;
        border-radius: 10px;
        width: 250px;
        height: 50px;
        
    }
    .btn1{
    background-color: white;
    color: black;       
}
}
.Finance-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 300px;
    background-color: pink;
    border-radius: 30px;
}