.header{
    background: linear-gradient(45deg, #001F3D 50%, #00509E 100%);
    position: relative;
    
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    position: absolute;
    top: 50px;
    margin: 0px;
    left: 27%;
    
    li{
        font-size: 18px;
        font-weight: bold;
        list-style-type: none;
        margin-left: 7px;
        color: white;
        padding: 7px;
        border-radius: 7px;
        
        
        transition: 0.3s ease-in-out;
        cursor: pointer;
        a{
            text-decoration: none;
            color: inherit
        }
    };
    li:hover{
        background-color: #E6E6E6;
        color: #001F3D;
    }
}
.logo{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
}
.profile-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 30px;
    
}
.profile-icon:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
    
}
#dropDown{
    width: 100px;
    height: 30px;
    background-color: gray;
    position: absolute;
    right: 10px;
    Top: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}
.profile-icon:hover + #dropDown{
        opacity: 1;
}
#logout_button{
    width: 100%;
    height: 100%;
    cursor: pointer;   
}
#dropDown:hover {
    
    opacity: 1;
}

/* Home page body */

.main{
    height: 600px;
    width: 100%;
    background:#E6E6E6;
}

.gallery-image{
    width: 250px;
    height: 350px;
    
}
